@model ModelData.GameListModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateNA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDateNA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateEU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDateEU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateJP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDateJP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>


    </dl>

</div>

<div class="container">
    <div class="row">
        @if (Model.ScreenShotURL != null)
        {
            @foreach (var X in Model.ScreenShotURL)
            {
                <div class="col-xs-4">
                    <div class="thumbnail-section">      
                        <a href="\@X"><img class="img-thumbnail" src="\@X" /></a>
                    </div>
                </div>
            }
        }

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
