@model ModelData.GameListModel
@using Common.Extensions;

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.First_release_date)
        </dt>
        <dd>
            <text>@Model.First_release_date.FromUnix()</text>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>

        </dt>
        <dd>
        
        </dd>
        <dt>

        </dt>
        <dd>
          
        </dd>
         </dl>
</div>

<div class="container">
    <div class="row">
        @if (Model.Screenshots.Count() > 0)
        {
            @foreach (var X in Model.Screenshots)
            {
                <div class="col-xs-4">
                    <div class="thumbnail-section">
                        <a href="@X.Url"><img class="img-thumbnail" src="@X.Url" /></a>
                    </div>
                </div>
            }
        }

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
