@model ModelData.GameListModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateNA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDateNA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateEU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDateEU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateJP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDateJP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt>

        </dt>
        <dd>
            <a target="_blank" href='@string.Format("https://www.amazon.co.uk/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords={0}+{1}", Model.Name, Model.Format)'>View on Amazon</a>
        </dd>
        <dt>

        </dt>
        <dd>
            <a target="_blank" href='@string.Format("http://www.ebay.co.uk/sch/?_nkw={0}%20{1}&LH_Auction=1", Model.Name, Model.Format)'>View on eBay</a>
        </dd>


    </dl>
</div>

<div class="container">
    <div class="row">
        @if (Model.ScreenShotURL != null)
        {
            @foreach (var X in Model.ScreenShotURL)
            {
                <div class="col-xs-4">
                    <div class="thumbnail-section">
                        <a href="\@X"><img class="img-thumbnail" src="\@X" /></a>
                    </div>
                </div>
            }
        }

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
